# Telegram Configurations
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Scheduler Configurations
POLL_INTERVAL_SEC=60
SLEEP_START_HOUR=19
SLEEP_END_HOUR=5
SLEEP_INTERVAL_SEC=3600

BYPASS_SLEEP_MODE=false